<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="src/styles/index.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">Daily Quotes</div>
      </nav>
    </header>

    <section class="hero">
      <h1>Transform Your Day, One Quote at a Time.</h1>
      <p>
        Get inspired daily with a fresh dose of motivation, wisdom, and
        positivity. Our app delivers carefully curated quotes to fuel your
        thoughts and kickstart your day with purpose. Whether you need a spark
        of creativity or a moment of reflection, let each quote guide you toward
        a brighter mindset.
      </p>
      <div class="buttons">
        <a href="home" class="btn">Get Started</a>
        <a href="sign-in" class="btn outline">Sign In</a>
      </div>
    </section>
  </body>
</html>
