<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="src/styles/quotes.css" />
  </head>

  <body>
    <aside class="sidebar">
      <div class="logos">
        <a href="/">
          <img
            id="icon"
            src="../../public/icon-light.png"
            width="50"
            height="50"
            alt="Quote Icon"
          />
        </a>
        <a href="/">
          <img
            src="../../public/quotes-light.png"
            alt="Quotes Logo"
            width="140"
            height="40"
        /></a>
      </div>
      <div class="navigation">
        <ul>
          <li class="<%= activePage==='home' && 'active-link' %>">
            <a href="home"><img src="../../public/home.png" /> Home</a>
          </li>
          <li>
            <a href="search"><img src="../../public/search .png" />Search</a>
          </li>
          <li>
            <a href="exprore"
              ><img src="../../public/navigation.png" />Explore</a
            >
          </li>
          <li>
            <a href="message"> <img src="../../public/message.png" />Message</a>
          </li>
          <li>
            <a href="notification">
              <img src="../../public/bell.png" />Notification</a
            >
          </li>
          <li>
            <a href="create"> <img src="../../public/adding.png" />Create</a>
          </li>
          <li>
            <a href="activity"> <img src="../../public/home.png" />Activity</a>
          </li>
          <li>
            <a href="profile"> <img src="../../public/profile.png" />Profile</a>
          </li>
          <li>
            <a href="more"> <img src="../../public/menu.png" />More</a>
          </li>
        </ul>
      </div>
    </aside>

    <article class="content">
      <div class="quote-cart">
        <div class="cart-header"></div>
        <div class="quote-main"></div>
        <div class="quote-footer"></div>
        <div class="likes"></div>
      </div>
      <% quotes.forEach(quote=>{ %>
      <div>
        <p><%= quote.quote %></p>
        <h6><%= quote.author %></h6>
      </div>
      <% }) %>
    </article>

    <aside class="suggested">
      <div class="my-profile">
        <a href="profile">
          <img src="../../public/profile.png" />
          <div>
            <p class="user-name">user-name</p>
            <p>Name</p>
          </div>
        </a>
        <a class="log-out" href="log-out">Log out</a>
      </div>
      <div class="suggested-users">
        <ul>
          <li>
            <a href="profile">
              <img src="../../public/profile.png" />
              <div>
                <p class="user-name">user-name</p>
                <p>Name</p>
              </div></a
            >
            <p class="log-out">Follow</p>
          </li>
          <li>
            <a href="profile">
              <img src="../../public/profile.png" />
              <div>
                <p class="user-name">user-name</p>
                <p>Name</p>
              </div></a
            >
            <p class="log-out">Follow</p>
          </li>
          <li>
            <a href="profile">
              <img src="../../public/profile.png" />
              <div>
                <p class="user-name">user-name</p>
                <p>Name</p>
              </div></a
            >
            <p class="log-out">Follow</p>
          </li>
          <li>
            <a href="profile">
              <img src="../../public/profile.png" />
              <div>
                <p class="user-name">user-name</p>
                <p>Name</p>
              </div></a
            >
            <p class="log-out">Follow</p>
          </li>
        </ul>
      </div>
    </aside>
  </body>
</html>
