<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="src/styles/quotes.css" />
  </head>

  <body>
    <aside class="sidebar">
      <div class="logos">
        <a href="/">
          <img
            id="icon"
            src="../../public/icon-light.png"
            width="50"
            height="50"
            alt="Quote Icon"
          />
        </a>
        <a href="/">
          <img
            src="../../public/quotes-light.png"
            alt="Quotes Logo"
            width="140"
            height="40"
        /></a>
      </div>
      <div class="navigation">
        <ul>
          <li>Home</li>
          <li>Search</li>
          <li>Explore</li>
          <li>Message</li>
          <li>Notification</li>
          <li>Create</li>
          <li>Activity</li>
          <li>Profile</li>
        </ul>
      </div>
      <div class="more">
        <ul>
          <li>Morxzxze</li>
        </ul>
      </div>
    </aside>
    <article class="content">
      <% quotes.forEach(quote=>{ %>
      <div>
        <p><%= quote.quote %></p>
        <h6><%= quote.author %></h6>
      </div>
      <% }) %>
    </article>
  </body>
</html>
