/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100dvh;
  display: grid;
  grid-template-areas: "sidebar", "content";
  gap: 1rem;
}

.sidebar {
  grid-area: sidebar;
  padding: 2rem;
  border-right: 1px solid gray;
}

.sidebar .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.sidebar .navigation ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: start;
  list-style: none;
}

.sidebar .more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.sidebar .more ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: start;
  list-style: none;
}

.content {
  grid-area: content;
  background-color: azure;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "sidebar content";
  }

  .logos #icon {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
